*.pyc
ai
models
venv
*.log
logs
*.swp
images/*
3d
.DS_Store
.env
llmcache.db
.scrapy
.vscode
node_modules/
frontend/build/
backend/venv
*.env
frontend/src/firebase.js
ai/ai.egg-info/PKG-INFO
ai/build
ai/dist
*.egg-info/
ai/*.egg-info/
articles
